[Unit]
Description=Project1 i.MX6ULL Data Monitor
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/project1/project1.env
ExecStartPre=/opt/project1/load_modules.sh /opt/project1/modules
ExecStart=/opt/project1/bin/p1_collector -s ${SERVER_IP} -p ${SERVER_PORT} -i ${INTERVAL_MS} -l ${LOG_PATH} --max-log-kb ${MAX_LOG_KB} --ps ${PS_THRESHOLD} --als ${ALS_THRESHOLD}
ExecStopPost=/opt/project1/unload_modules.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

